$color1: #fe7170;
$color2: #955e87;
$color3: #60406a;
$color4: #4e5d7e;
$color5: #fefefe;

body{
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $color5;
    padding: 50px 30px;
    gap: 20px;
    h2 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 32px;
    }
    .block {
        width: 200px;
        height: 10px;
        background-color: $color5;
    p {
        font-weight: 200;
    }
    }
}
.sec1 {
    background-color: $color1;
}
.sec2 {
    background-color: $color2;
}
.sec3 {
    background-color: $color3;
}
.sec4 {
    background-color: $color4;
}